gaming.json
{
  "name": "News Summarizer (v8 - Single Best Article)",
  "nodes": [
    {
      "parameters": {
        "chatId": "2075065850",
        "text": "🚀 پردازش 9 منبع خبری آغاز شد...",
        "additionalFields": {}
      },
      "name": "Send Initial Status",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        -4256,
        208
      ],
      "id": "bd82fdb9-4828-4ed2-ae2c-d66e5e8d8278",
      "webhookId": "fd181777-91e2-4f9a-9ad1-779f6ce3c151",
      "credentials": {
        "telegramApi": {
          "id": "0pPxcLhD8qdqCKlG",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {},
      "name": "Daily Trigger",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        -4480,
        208
      ],
      "id": "688f8a7b-ade5-41b5-87b2-d1247bd6ea2f"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://atom-game.ir/api/token/",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"username\": \"amir\", \"password\": \"@mir1385514\" } }}",
        "options": {}
      },
      "name": "Get API Token",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -4368,
        208
      ],
      "id": "5f9f0a1d-3c0e-4c91-8af0-7b8e6b6bb001"
    },
    {
      "parameters": {
        "functionCode": "const sources = [\n  {source:'GameSpot',  url:'https://www.gamespot.com/feeds/news'},\n  {source:'Kotaku',    url:'https://kotaku.com/feed'},\n  {source:'PCGamer',   url:'https://www.pcgamer.com/rss/'},\n  {source:'Polygon',   url:'https://www.polygon.com/rss/polygon-archives/index.xml'},\n  {source:'Eurogamer', url:'https://www.eurogamer.net/feed'},\n  {source:'VG247',     url:'https://www.vg247.com/feed'},\n  {source:'Gematsu',   url:'https://www.gematsu.com/feed'},\n  {source:'XboxWire',  url:'https://news.xbox.com/en-us/feed/'},\n  {source:'GamesPress',url:'https://www.gamespress.com/en-gb/News/RSS'}\n];\n\nconst message_id = $items()[0].json.result.message_id;\n\nreturn sources.map((item, index) => {\n  return {\n    json: {\n      ...item,\n      message_id: message_id,\n      itemIndex: index\n    }\n  };\n});"
      },
      "name": "Prepare Sources & Add IDs",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -4032,
        208
      ],
      "id": "55b74105-c597-4e8f-98c4-ab77a54e0988"
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "name": "Split Sources",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [
        -3808,
        208
      ],
      "id": "4577b81a-9720-4de0-8b51-1574405fd1e8"
    },
    {
      "parameters": {
        "url": "={{$json.url}}",
        "options": {}
      },
      "name": "RSS Feed Read",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        -3584,
        -160
      ],
      "id": "cf10c947-279a-4cda-bd89-e5c48fc203ca",
      "continueOnFail": true
    },
    {
      "parameters": {
        "functionCode": "const parentData = $items('Split Sources')[0].json;\n\nif (items.length === 0) {\n  return [{ json: { ...parentData, success: false } }];\n}\n\nreturn items.map((article) => {\n  return {\n    json: {\n      ...article.json,\n      source: parentData.source,\n      message_id: parentData.message_id,\n      itemIndex: parentData.itemIndex,\n      success: true,\n    },\n  };\n});"
      },
      "name": "Tag Success/Fail",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -3360,
        -160
      ],
      "id": "2682a187-b80a-45c3-92e4-b2b14b95cb74"
    },
    {
      "parameters": {
        "functionCode": "const parentData = $items('Split Sources')[0].json;\n\nconst anySuccess = items.some(i => i.json && i.json.success === true);\n\nreturn [{\n  json: {\n    source: parentData.source,\n    success: anySuccess,\n    message_id: parentData.message_id,\n    itemIndex: parentData.itemIndex\n  }\n}];"
      },
      "name": "Status Per Source",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -3136,
        -16
      ],
      "id": "8fd1e038-e913-48ed-866c-8bb93525da9e"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.message_id}}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "name": "If Has MsgID",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -2912,
        128
      ],
      "id": "0c04466f-877f-4ba7-8dce-a7574da056d4"
    },
    {
      "parameters": {},
      "name": "Wait for Loop to Finish",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [
        -3136,
        -256
      ],
      "id": "ac5cb2cd-aa9d-430a-9190-a0d9a99a0a12"
    },
    {
      "parameters": {
        "functionCode": "// This node now receives a complete list of all articles from the Merge node.\n// No need for $items() anymore.\nconst allItems = items;\n\nconst firstValidItem = allItems.find(i => i.json && i.json.message_id);\nconst messageId = firstValidItem ? firstValidItem.json.message_id : null;\n\nconst validArticles = allItems.filter(i => i.json && i.json.success && i.json.title);\n\nconst seen = new Set();\nconst uniqueArticles = validArticles.filter(item => {\n  const key = item.json.link || item.json.title;\n  if (seen.has(key)) {\n    return false;\n  } else {\n    seen.add(key);\n    return true;\n  }\n});\n\nconst finalArticles = uniqueArticles.map(item => {\n  const json = item.json;\n  return {\n    title: json.title || \"بدون عنوان\",\n    link: json.link || \"#\",\n    source: json.source || \"نامشخص\",\n    rawContent: json.contentSnippet || json.content || \"\"\n  };\n});\n\nreturn [{\n  json: {\n    articles: finalArticles,\n    messageId: messageId\n  }\n}];"
      },
      "name": "Filter & Prepare All Articles",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -2912,
        -256
      ],
      "id": "24055fc9-f4eb-4c7d-9e27-e70c7994e11a"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.error}}",
              "value2": true
            }
          ]
        }
      },
      "name": "Check for Prep Error",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -2688,
        -208
      ],
      "id": "5dad9e1e-6041-4177-ace9-35b6602b7c67"
    },
    {
      "parameters": {
        "chatId": "2075065850",
        "text": "={{ `❌ خطای نهایی:\n${$json.errorMessage}` }}",
        "additionalFields": {}
      },
      "name": "Send Error to Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        -2464,
        -208
      ],
      "id": "61a46140-f6a8-4eb3-adc8-bd7467b2de13",
      "webhookId": "b476a619-cc38-4885-9ab6-ded07a82ccd6",
      "credentials": {
        "telegramApi": {
          "id": "0pPxcLhD8qdqCKlG",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{$json.articles.length}}",
              "operation": "larger"
            }
          ]
        }
      },
      "name": "If Articles Exist",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -2688,
        -400
      ],
      "id": "2a2c90a3-d92c-4a30-8d74-413918a4306c"
    },
    {
      "parameters": {
        "operation": "editMessageText",
        "chatId": "2075065850",
        "messageId": "={{$json.messageId}}",
        "text": "✅ پردازش کامل شد. مقاله جدیدی برای خلاصه‌سازی یافت نشد.",
        "additionalFields": {}
      },
      "name": "Update Final Status (No Articles)",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        -2464,
        -400
      ],
      "id": "aeec2072-52d6-43da-8bc1-418ebeb32657",
      "webhookId": "97de5891-6192-4a04-9c9f-a921d44114d5",
      "credentials": {
        "telegramApi": {
          "id": "0pPxcLhD8qdqCKlG",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://atom-game.ir/api/blog/posts/",
        "options": {
          "headers": {
            "Authorization": "={{`Bearer ${$node[\"Get API Token\"].json.access}`}}"
          }
        }
      },
      "name": "Get Recent Posts",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -2464,
        -592
      ],
      "id": "19ec72a1-0b6a-4947-b7e2-be80c7ad405a"
    },
    {
      "parameters": {
        "functionCode": "// انتظار داریم این نود بعد از \"Get Recent Posts\" اجرا شود.\nconst data = $json || {};\nconst results = Array.isArray(data.results) ? data.results : [];\n\nconst tagScores = {};\nconst categoryScores = {};\nconst TOTAL_WEIGHT_VIEWS = 1;\nconst TOTAL_WEIGHT_LIKES = 10;\nconst TOTAL_WEIGHT_COMMENTS = 20;\n\nfor (const post of results) {\n  const views = Number(post.views_count || 0);\n  const likes = Number(post.likes_count || 0);\n  const comments = Number(post.comments_count || 0);\n  const score = views * TOTAL_WEIGHT_VIEWS + likes * TOTAL_WEIGHT_LIKES + comments * TOTAL_WEIGHT_COMMENTS;\n\n  if (Array.isArray(post.tags)) {\n    for (const tag of post.tags) {\n      const key = tag.slug || tag.name || '';\n      if (!key) continue;\n      tagScores[key] = (tagScores[key] || 0) + score;\n    }\n  }\n\n  const cat = post.category;\n  if (cat) {\n    categoryScores[cat] = (categoryScores[cat] || 0) + score;\n  }\n}\n\nfunction topEntries(obj, limit = 5) {\n  return Object.entries(obj)\n    .sort((a, b) => b[1] - a[1])\n    .slice(0, limit)\n    .map(([key, score]) => ({ key, score }));\n}\n\nconst topTags = topEntries(tagScores, 7);\nconst topCategories = topEntries(categoryScores, 5);\n\nconst lines = [];\nif (topTags.length) {\n  lines.push('تگ‌های پربازدید اخیر:');\n  for (const t of topTags) {\n    lines.push(`- ${t.key} (امتیاز تقریبی: ${t.score})`);\n  }\n  lines.push('');\n}\n\nif (topCategories.length) {\n  lines.push('دسته‌بندی‌های پربازدید اخیر:');\n  for (const c of topCategories) {\n    lines.push(`- ${c.key} (امتیاز تقریبی: ${c.score})`);\n  }\n  lines.push('');\n}\n\nif (!lines.length) {\n  lines.push('داده کافی برای تحلیل سئو وجود ندارد.');\n}\n\nreturn [{\n  json: {\n    seo_insights: {\n      top_tags: topTags,\n      top_categories: topCategories\n    },\n    seo_summary_text: lines.join('\\n')\n  }\n}];\n"
      },
      "name": "Analyze SEO Performance",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -2240,
        -592
      ],
      "id": "d8d2bf87-b212-4b05-8bfc-6052ce4b7079"
    },
    {
      "parameters": {
        "functionCode": "const seo = $json || {};\n\nreturn [{\n  json: {\n    memory_context: {\n      seo_summary_text: seo.seo_summary_text || '',\n      seo_insights: seo.seo_insights || {}\n    }\n  }\n}];\n"
      },
      "name": "AI Memory Builder",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -2128,
        -592
      ],
      "id": "0e8a3f3b-9b6b-4c3e-8f56-5fbb2e6f8888"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={\n  \"summary_markdown\":\n`تو یک استراتژیست سئو، Content Expander و «AI Reviewer دوم» برای وبلاگ بازی‌های ویدیویی atom-game.ir هستی.\n\nحافظهٔ کوتاه‌مدت تو از عملکرد سئو (memory_context):\n${JSON.stringify($items(\"AI Memory Builder\")[0].json.memory_context || {}, null, 2)}\n\nآمار عملکرد سئو در پست‌های اخیر (بر اساس بازدید، لایک و کامنت):\n${$items(\"AI Memory Builder\")[0].json.memory_context?.seo_summary_text || $items(\"Analyze SEO Performance\")[0].json.seo_summary_text || 'آماری در دسترس نیست.'}\n\nماموریت تو در این نسخه:\n1) از بین خبرهای زیر، فقط و فقط 1 خبر را انتخاب کن که:\n   - پتانسیل بالای سرچ در گوگل داشته باشد (ترندتر، جذاب‌تر، بحث‌برانگیزتر)\n   - برای گیمرها (PC, PlayStation, Xbox, Nintendo, موبایل) جذاب باشد\n   - بتوان حول آن یک پست وبلاگی منسجم و مفید نوشت\n2) بر اساس همان 1 خبر، یک پست وبلاگ واحد و منسجم تولید کن.\n3) ابتدا متن را بنویس (Content Expander)، سپس خودت به‌عنوان «AI Reviewer دوم»:\n   - غلط‌های نگارشی و عباراتی که مبهم یا خیلی کلیک‌بیتی هستند را اصلاح کن\n   - ساختار متن را بهتر کن (هدینگ‌ها، بولت‌ها، پاراگراف‌های کوتاه)\n4) محتوا باید:\n   - ساختار منطقی داشته باشد (مقدمه، بدنه، جمع‌بندی)\n   - قابل اسکن باشد (پاراگراف‌های کوتاه، هدینگ‌های H2/H3 در صورت نیاز، بولت‌لیست در جای مناسب)\n   - لحن حرفه‌ای و دوستانهٔ مناسب وبلاگ گیمینگ داشته باشد\n5) قوانین سئو:\n   - عنوان اصلی و seo_title باید حداقل یک کلمهٔ کلیدی مهم را داشته باشند.\n   - seo_title ترجیحاً زیر ۶۵ کاراکتر باشد.\n   - seo_description بین ۱۴۰ تا ۱۶۰ کاراکتر و شامل ۱ تا ۲ کلمهٔ کلیدی باشد.\n   - از کلیک‌بیت بسیار اغراق‌آمیز دوری کن، ولی جذابیت را حفظ کن.\n   - از کلمات ممنوع مرتبط با قمار، شرط‌بندی و موضوعات حساس دوری کن.\n6) حتماً فقط از همان 1 خبر انتخاب‌شده استفاده کن و خبرهای دیگر را قاطی نکن.\n\nخروجی تو باید فقط و فقط یک JSON معتبر باشد و هیچ متن دیگری نداشته باشد، دقیقا با این ساختار:\n\n{\n  \"summary_markdown\": \"متن مارک‌داون نهایی برای بدنهٔ پست وبلاگ...\",\n  \"title\": \"عنوان اصلی پست برای نمایش در سایت\",\n  \"title_variants\": [\"عنوان جایگزین ۱\", \"عنوان جایگزین ۲\", \"عنوان جایگزین ۳\"],\n  \"seo_title\": \"عنوان بهینه‌شده برای سئو (ترجیحاً زیر ۶۵ کاراکتر)\",\n  \"seo_description\": \"توضیحات متا بین ۱۴۰ تا ۱۶۰ کاراکتر با ۱ تا ۲ کلمهٔ کلیدی اصلی\",\n  \"category_slug\": \"game-news\",\n  \"series_slug\": \"daily-digest\",\n  \"tags\": [\"GTA 6\", \"Elden Ring\", \"PlayStation\"],\n  \"focus_keywords\": [\"کلمه کلیدی ۱\", \"کلمه کلیدی ۲\", \"کلمه کلیدی ۳\"],\n  \"chosen_index\": 0,\n  \"reason\": \"چرا این خبر را انتخاب کردی (یک یا دو جمله کوتاه)\"\n}\n\nتوضیحات:\n- chosen_index باید اندیس عددی همان خبری باشد که از بین لیست انتخاب می‌کنی (شروع از 0).\n- اگر به هر دلیل نتوانستی انتخاب کنی، به صورت پیش‌فرض اندیس 0 را برگردان.\n\nحالا لیست خبرهای امروز را می‌بینی. فقط و فقط از بین این‌ها یکی را انتخاب کن:\n\n${$items(\"Filter & Prepare All Articles\")[0].json.articles.map((a, index) =>\n  `شاخص: ${index}\nعنوان: ${a.title}\nمنبع: ${a.source}\nلینک: ${a.link}\nمحتوا: ${a.rawContent || ''}`\n).join(\"\\n---\\n\")}\n`,\n  \"title\": \"\",\n  \"title_variants\": [],\n  \"seo_title\": \"\",\n  \"seo_description\": \"\",\n  \"category_slug\": \"game-news\",\n  \"series_slug\": \"daily-digest\",\n  \"tags\": [],\n  \"focus_keywords\": [],\n  \"chosen_index\": 0,\n  \"reason\": \"\"\n}\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -2016,
        -592
      ],
      "id": "b8ba01b3-db8b-4164-aa1e-6f6575ba6d90",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -2000,
        -368
      ],
      "id": "72e78bb8-2e01-4225-9104-eb6b6608f27d",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "7d95eyiHnpp11H1T",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "const raw = $json.output || $json.text || $json.response || $json;\n\nlet meta;\ntry {\n  meta = typeof raw === 'string' ? JSON.parse(raw) : raw;\n} catch (e) {\n  const fallbackSummary = typeof raw === 'string' ? raw : JSON.stringify(raw);\n  meta = {\n    summary_markdown: fallbackSummary,\n    title: 'خلاصه مهم‌ترین خبرهای بازی امروز',\n    seo_title: 'خلاصه مهم‌ترین خبرهای بازی امروز',\n    seo_description: '',\n    category_slug: 'game-news',\n    series_slug: 'daily-digest',\n    tags: ['اخبار بازی'],\n    focus_keywords: [],\n    chosen_index: 0,\n    reason: 'fallback – JSON parse error'\n  };\n}\n\nconst summary = meta.summary_markdown || meta.summary || '';\nconst baseExcerpt = summary\n  .replace(/[\\r\\n]+/g, ' ')\n  .slice(0, 220);\n\nconst title = meta.title || 'خلاصه مهم‌ترین خبرهای بازی امروز';\nconst seoTitle = meta.seo_title || title;\nconst seoDescription = meta.seo_description || baseExcerpt;\n\nconst titleVariants = Array.isArray(meta.title_variants) ? meta.title_variants : [];\nconst focusKeywords = Array.isArray(meta.focus_keywords) ? meta.focus_keywords : [];\nconst chosenIndex = Number.isInteger(meta.chosen_index) ? meta.chosen_index : 0;\n\nreturn [{\n  json: {\n    summary_markdown: summary,\n    title,\n    title_variants: titleVariants,\n    excerpt: baseExcerpt,\n    seo_title: seoTitle,\n    seo_description: seoDescription,\n    category_slug: meta.category_slug || 'game-news',\n    series_slug: meta.series_slug || 'daily-digest',\n    tags: Array.isArray(meta.tags) ? meta.tags : ['اخبار بازی'],\n    focus_keywords: focusKeywords,\n    chosen_index: chosenIndex,\n    selection_reason: meta.reason || ''\n  }\n}];\n"
      },
      "name": "Parse AI JSON",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -1664,
        -592
      ],
      "id": "b867bd51-8e6b-4aa5-9235-46d9711db689"
    },
    {
      "parameters": {
        "functionCode": "let { summary_markdown, seo_description } = $json;\n\nfunction cleanUrl(u) {\n  try {\n    const url = new URL(u);\n    const badParams = ['utm_source','utm_medium','utm_campaign','utm_term','utm_content','fbclid','gclid','ref'];\n    badParams.forEach(p => url.searchParams.delete(p));\n    return url.toString();\n  } catch (e) {\n    return u;\n  }\n}\n\nsummary_markdown = summary_markdown || '';\nseo_description = seo_description || '';\n\nconst urlRegex = /(https?:\\/\\/[^\\s)]+[^\\s)\\.,!?])/g;\nsummary_markdown = summary_markdown.replace(urlRegex, (m) => cleanUrl(m));\nseo_description = seo_description.replace(urlRegex, (m) => cleanUrl(m));\n\nconst ytRegex = /(https?:\\/\\/(?:www\\.)?(?:youtube\\.com\\/watch\\?v=|youtu\\.be\\/)([A-Za-z0-9_-]{6,}))/g;\nsummary_markdown = summary_markdown.replace(ytRegex, (match, url, vid) => {\n  const id = vid;\n  return `\\n<iframe width=\"560\" height=\"315\" src=\"https://www.youtube.com/embed/${id}\" frameborder=\"0\" allowfullscreen></iframe>\\n`;\n});\n\nconst textForLang = (summary_markdown || seo_description || '').slice(0, 1000);\nconst hasArabic = /[\\u0600-\\u06FF]/.test(textForLang);\nconst lang = hasArabic ? 'fa' : 'en';\n\nreturn [{\n  json: {\n    ...$json,\n    summary_markdown,\n    seo_description,\n    lang\n  }\n}];\n"
      },
      "name": "Clean URLs & Enhance Content",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -1440,
        -592
      ],
      "id": "c3b9f8fb-8f0b-4b58-b28d-2b0f1bbf4444"
    },
    {
      "parameters": {
        "functionCode": "const meta = $json;\nconst wrapper = $items('Filter & Prepare All Articles')[0].json;\nconst articles = Array.isArray(wrapper.articles) ? wrapper.articles : [];\n\nlet idx = Number(meta.chosen_index ?? 0);\nif (!(idx >= 0 && idx < articles.length)) {\n  idx = 0;\n}\n\nconst chosen = articles[idx] || null;\n\nreturn [{\n  json: {\n    ...meta,\n    chosen_article: chosen\n  }\n}];\n"
      },
      "name": "Pick Chosen Article",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -1664,
        -784
      ],
      "id": "dfe29bc7-4ade-4bb2-ae51-690025d21c10"
    },
    {
      "parameters": {
        "url": "={{ $json.chosen_article.link }}",
        "options": {}
      },
      "name": "Fetch Original Article HTML",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -1440,
        -784
      ],
      "id": "d2eb7918-b80e-41fa-b351-f988cb1e60c8"
    },
    {
      "parameters": {
        "functionCode": "const htmlItem = $json;\nconst body = htmlItem.body || htmlItem.data || htmlItem;\nconst text = typeof body === 'string' ? body : JSON.stringify(body);\n\nconst imgRegex = /<img[^>]+src=[\"']([^\"']+)[\"'][^>]*>/gi;\nconst urls = [];\nlet match;\n\nwhile ((match = imgRegex.exec(text)) !== null) {\n  const src = match[1];\n\n  if (\n    !src.includes('logo') &&\n    !src.includes('sprite') &&\n    !src.includes('icon') &&\n    !src.includes('tracking') &&\n    !src.startsWith('data:')\n  ) {\n    urls.push(src);\n  }\n}\n\nconst mainImage = urls[0] || '';\n\nreturn [{\n  json: {\n    mainImage,\n    allImages: urls\n  }\n}];\n"
      },
      "name": "Extract Image URLs",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -1216,
        -784
      ],
      "id": "56540389-9d14-4e36-ba2c-97df901d669f"
    },
    {
      "parameters": {
        "url": "https://atom-game.ir/api/blog/categories/",
        "options": {
          "headers": {
            "Authorization": "={{`Bearer ${$node[\"Get API Token\"].json.access}`}}"
          }
        }
      },
      "name": "Get Categories",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -1440,
        -928
      ],
      "id": "14576c6d-6421-4af1-938f-ad56a55c8eec"
    },
    {
      "parameters": {
        "functionCode": "const meta = $items('Clean URLs & Enhance Content')[0].json;\nconst desiredSlug = (meta.category_slug || '').toString().trim().toLowerCase();\n\nconst categories = items.map(i => i.json);\n\nfunction norm(v) {\n  return String(v || '').toLowerCase();\n}\n\nlet match = null;\nif (desiredSlug) {\n  match = categories.find(c => norm(c.slug) === desiredSlug);\n  if (!match) {\n    match = categories.find(c => norm(c.name) === desiredSlug);\n  }\n}\n\nconst needsCreate = !match;\n\nreturn [{\n  json: {\n    needsCreate,\n    category_id: match && match.id != null ? match.id : null,\n    category_slug: match && match.slug ? match.slug : (meta.category_slug || '').toString().trim().toLowerCase() || 'game-news',\n    category_name: match && match.name ? match.name : (meta.category_slug || 'Game News')\n  }\n}];\n"
      },
      "name": "Select Category",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -1216,
        -928
      ],
      "id": "fca66ad4-73bd-4ac0-886c-7e3bb86e2bae"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.needsCreate}}",
              "value2": true
            }
          ]
        }
      },
      "name": "If Create Category",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -992,
        -928
      ],
      "id": "3ecca170-c215-4dec-8e3f-3c4c5231fcb6"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://atom-game.ir/api/blog/categories/",
        "authentication": "predefinedCredentialType",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"slug\": $json.category_slug, \"name\": $json.category_name, \"parent\": 0 } }}",
        "options": {
          "headers": {
            "Authorization": "={{`Bearer ${$node[\"Get API Token\"].json.access}`}}"
          }
        }
      },
      "name": "Create Category",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -768,
        -1024
      ],
      "id": "4fdf6aa5-77c8-4062-9d86-8d37e0791e83"
    },
    {
      "parameters": {
        "functionCode": "return [{\n  json: {\n    category_id: $json.id,\n    category_slug: $json.slug,\n    category_name: $json.name\n  }\n}];\n"
      },
      "name": "Use Created Category",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -544,
        -1024
      ],
      "id": "f7e52659-80dc-4be3-8d91-3b24577101e6"
    },
    {
      "parameters": {
        "functionCode": "return [{\n  json: {\n    category_id: $json.category_id,\n    category_slug: $json.category_slug,\n    category_name: $json.category_name\n  }\n}];\n"
      },
      "name": "Use Existing Category",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -544,
        -832
      ],
      "id": "2745ef6c-37a1-40af-9ba9-0b2b3ec6dfae"
    },
    {
      "parameters": {},
      "name": "Final Category",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [
        -320,
        -928
      ],
      "id": "1095c03b-a5b6-4525-a5a6-c7e024ea9cbf"
    },
    {
      "parameters": {
        "url": "https://atom-game.ir/api/blog/tags/",
        "options": {
          "headers": {
            "Authorization": "={{`Bearer ${$node[\"Get API Token\"].json.access}`}}"
          }
        }
      },
      "name": "Get Tags",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -1440,
        -160
      ],
      "id": "4411af3e-5456-45cf-a99c-bbf16ced9180"
    },
    {
      "parameters": {
        "functionCode": "const meta = $items('Clean URLs & Enhance Content')[0].json;\nconst desiredTags = Array.isArray(meta.tags) ? meta.tags : [];\n\nconst availableTags = items.map(i => i.json);\n\nfunction norm(v) {\n  return String(v || '').trim().toLowerCase();\n}\n\nfunction slugify(str) {\n  return norm(str)\n    .replace(/[^a-z0-9]+/g, '-')\n    .replace(/^-+|-+$/g, '');\n}\n\nconst TAG_ALIASES = {\n  'gta vi': 'gta-6',\n  'gta 6': 'gta-6',\n  'grand theft auto 6': 'gta-6',\n  'elden ring': 'elden-ring',\n  'call of duty': 'call-of-duty',\n  'cod': 'call-of-duty',\n  'playstation': 'playstation',\n  'ps5': 'playstation-5',\n  'xbox': 'xbox',\n  'nintendo switch': 'nintendo-switch',\n  'pc': 'pc-gaming'\n};\n\nconst tagRecords = [];\n\nfor (const tagName of desiredTags) {\n  const baseNorm = norm(tagName);\n  const aliasSlug = TAG_ALIASES[baseNorm];\n  const desiredSlug = aliasSlug || slugify(tagName);\n\n  let found = availableTags.find(\n    t => norm(t.slug) === desiredSlug || norm(t.name) === baseNorm\n  );\n\n  if (!found) {\n    found = availableTags.find(\n      t => norm(t.name) === baseNorm || norm(t.slug) === baseNorm\n    );\n  }\n\n  if (found && found.id != null) {\n    tagRecords.push({\n      name: found.name || tagName,\n      slug: found.slug || desiredSlug,\n      id: found.id,\n      needsCreate: false\n    });\n  } else {\n    tagRecords.push({\n      name: tagName,\n      slug: desiredSlug,\n      id: null,\n      needsCreate: true\n    });\n  }\n}\n\nreturn tagRecords.map(r => ({ json: r }));\n"
      },
      "name": "Build Tag IDs",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -1216,
        -160
      ],
      "id": "bdd2fb12-e3eb-4c1a-8b54-76c33223e702"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.needsCreate}}",
              "value2": true
            }
          ]
        }
      },
      "name": "If Create Tag",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -992,
        -160
      ],
      "id": "d138d76b-6b93-40ab-9ed2-02240cd1e57c"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://atom-game.ir/api/blog/tags/",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"slug\": $json.slug, \"name\": $json.name } }}",
        "options": {
          "headers": {
            "Authorization": "={{`Bearer ${$node[\"Get API Token\"].json.access}`}}"
          }
        }
      },
      "name": "Create Tag",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -768,
        -256
      ],
      "id": "68993494-ddf6-4541-ab9b-308b4029695c"
    },
    {
      "parameters": {
        "functionCode": "return [{\n  json: {\n    id: $json.id,\n    name: $json.name,\n    slug: $json.slug\n  }\n}];\n"
      },
      "name": "Use Created Tag",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -544,
        -256
      ],
      "id": "873fcc8f-a81f-4a15-8e17-8a673988b92b"
    },
    {
      "parameters": {
        "functionCode": "return [{\n  json: {\n    id: $json.id,\n    name: $json.name,\n    slug: $json.slug\n  }\n}];\n"
      },
      "name": "Use Existing Tag",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -544,
        -64
      ],
      "id": "2c450fd0-4bd7-4cdf-9c5c-d3d7bf413a72"
    },
    {
      "parameters": {},
      "name": "Final Tags",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [
        -320,
        -160
      ],
      "id": "9d800006-001a-4793-9cfa-8c0fe940702e"
    },
    {
      "parameters": {
        "functionCode": "const tagIds = items\n  .map(i => i.json && i.json.id)\n  .filter(id => id != null);\n\nreturn [{\n  json: {\n    tag_ids: tagIds\n  }\n}];\n"
      },
      "name": "Collect Tag IDs",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -96,
        -160
      ],
      "id": "00fbfb2b-0991-47bc-8def-acf5673e846b"
    },
    {
      "parameters": {
        "url": "https://atom-game.ir/api/blog/series/",
        "options": {
          "headers": {
            "Authorization": "={{`Bearer ${$node[\"Get API Token\"].json.access}`}}"
          }
        }
      },
      "name": "Get Series",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -1440,
        -544
      ],
      "id": "1fc4e118-a72f-417e-91ca-e31482ff5e98"
    },
    {
      "parameters": {
        "functionCode": "const meta = $items('Clean URLs & Enhance Content')[0].json;\nconst desiredSlug = (meta.series_slug || '').toString().trim().toLowerCase();\n\nconst seriesList = items.map(i => i.json);\n\nfunction norm(v) {\n  return String(v || '').toLowerCase();\n}\n\nlet match = null;\nif (desiredSlug) {\n  match = seriesList.find(s => norm(s.slug) === desiredSlug);\n  if (!match) {\n    match = seriesList.find(s => norm(s.title) === desiredSlug);\n  }\n}\n\nconst needsCreate = !match;\n\nreturn [{\n  json: {\n    needsCreate,\n    series_id: match && match.id != null ? match.id : null,\n    series_slug: match && match.slug ? match.slug : (meta.series_slug || '').toString().trim().toLowerCase() || 'daily-digest',\n    series_title: match && match.title ? match.title : (meta.series_slug || 'Daily Digest')\n  }\n}];\n"
      },
      "name": "Select Series",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -1216,
        -544
      ],
      "id": "3bf33883-ef5e-4d43-b99c-84872ce8af0e"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.needsCreate}}",
              "value2": true
            }
          ]
        }
      },
      "name": "If Create Series",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -992,
        -544
      ],
      "id": "4a53756e-ce96-44db-973e-48c9d3d45309"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://atom-game.ir/api/blog/series/",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"slug\": $json.series_slug, \"title\": $json.series_title, \"description\": \"\", \"order_strategy\": \"manual\" } }}",
        "options": {
          "headers": {
            "Authorization": "={{`Bearer ${$node[\"Get API Token\"].json.access}`}}"
          }
        }
      },
      "name": "Create Series",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -768,
        -640
      ],
      "id": "a5a64516-c7f5-4d7f-93e8-d20da9286650"
    },
    {
      "parameters": {
        "functionCode": "return [{\n  json: {\n    series_id: $json.id,\n    series_slug: $json.slug,\n    series_title: $json.title\n  }\n}];\n"
      },
      "name": "Use Created Series",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -544,
        -640
      ],
      "id": "6ac04460-23ae-4a99-af98-9b5931100118"
    },
    {
      "parameters": {
        "functionCode": "return [{\n  json: {\n    series_id: $json.series_id,\n    series_slug: $json.series_slug,\n    series_title: $json.series_title\n  }\n}];\n"
      },
      "name": "Use Existing Series",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -544,
        -448
      ],
      "id": "9b17d29b-c7b5-479f-b4cb-95d6a68fb684"
    },
    {
      "parameters": {},
      "name": "Final Series",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [
        -320,
        -544
      ],
      "id": "9668afcb-7f84-4c81-9de5-755eeb23e6af"
    },
    {
      "parameters": {
        "functionCode": "const meta = $items('Clean URLs & Enhance Content')[0].json;          // نسخه V8: بعد از تمیزکاری لینک‌ها و تشخیص زبان\nconst categoryInfo = $items('Final Category')[0].json;\nconst seriesInfo = $items('Final Series')[0].json;\nconst tagInfo = $items('Collect Tag IDs')[0].json;\nconst chosenWrapper = $items('Pick Chosen Article')[0].json;\nconst chosenArticle = chosenWrapper.chosen_article || null;\nconst imageInfo = $items('Extract Image URLs')[0].json || {};\n\nconst langItem = $items('Clean URLs & Enhance Content')[0].json || {};\nconst lang = langItem.lang || 'fa';\n\nfunction slugify(str) {\n  return String(str || 'post')\n    .trim()\n    .toLowerCase()\n    .replace(/[آاآإءئؤة]/g, 'a')\n    .replace(/[^a-z0-9]+/g, '-')\n    .replace(/^-+|-+$/g, '');\n}\n\nconst title = meta.title || 'خلاصه مهم‌ترین خبرهای بازی امروز';\nconst slug = slugify(title);\n\nconst mainImage = imageInfo.mainImage || '';\n\nfunction buildContent() {\n  const base = meta.summary_markdown || '';\n  if (!mainImage) return base;\n\n  const alt =\n    meta.seo_title ||\n    meta.title ||\n    (chosenArticle && chosenArticle.title) ||\n    'تصویر مقاله';\n\n  const imgMarkdown = `![${alt}](${mainImage})\\n\\n`;\n  return imgMarkdown + base;\n}\n\nconst body = {\n  title,\n  excerpt: meta.excerpt || '',\n  content: buildContent(),\n  status: 'draft',\n  visibility: 'public',\n  seo_title: meta.seo_title || title,\n  seo_description: meta.seo_description || (meta.excerpt || ''),\n  slug,\n  canonical_url: `https://atom-game.ir/blog/${slug}/`,\n  language: lang\n};\n\nif (categoryInfo && categoryInfo.category_id != null) {\n  body.category_id = categoryInfo.category_id;\n}\n\nif (seriesInfo && seriesInfo.series_id != null) {\n  body.series = seriesInfo.series_id;\n}\n\nif (tagInfo && Array.isArray(tagInfo.tag_ids) && tagInfo.tag_ids.length > 0) {\n  body.tag_ids = tagInfo.tag_ids;\n}\n\nif (mainImage) {\n  body.main_image_url = mainImage;\n}\nif (chosenArticle && chosenArticle.link) {\n  body.source_url = chosenArticle.link;\n}\n\nreturn [{ json: body }];\n"
      },
      "name": "Build Blog Post Payload",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -96,
        -928
      ],
      "id": "3b050521-f892-4f98-9cf0-b9ad92141d33"
    },
    {
      "parameters": {
        "url": "https://atom-game.ir/api/blog/posts/",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{$json}}",
        "options": {
          "headers": {
            "Authorization": "={{`Bearer ${$node[\"Get API Token\"].json.access}`}}"
          }
        }
      },
      "name": "Create Blog Post",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        144,
        -928
      ],
      "id": "d3e55a4a-db28-4e20-81a9-ded509eef623"
    },
    {
      "parameters": {
        "chatId": "2075065850",
        "text": "={{ $json.summary_markdown || $json.text || $json.output || $json.response }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "name": "Send Summary",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        -1440,
        -352
      ],
      "id": "0563b876-5775-463c-9bda-40312de55ba5",
      "webhookId": "82bd8bb8-75c2-4de6-84a0-b8fd3261d9e2",
      "credentials": {
        "telegramApi": {
          "id": "0pPxcLhD8qdqCKlG",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "editMessageText",
        "chatId": "2075065850",
        "messageId": "={{$json.message_id}}",
        "text": "={{ \n  (()=>{\n    const total = ($items('Prepare Sources & Add IDs') || []).length || 0;\n    const currentIndex = $json.itemIndex + 1;\n    const src = $json.source || 'نامشخص';\n    const ok = $json.success === true ? ' ✅' : ' ❌';\n    return `⚙️ [${currentIndex}/${total}] پردازش شد: ${src}${ok}`;\n  })()\n}}",
        "additionalFields": {}
      },
      "name": "Update Status",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        -2688,
        272
      ],
      "id": "e802a691-7440-4795-a402-b57c27cb0824",
      "webhookId": "25694a74-b3b9-4e93-a908-fc17c290080f",
      "credentials": {
        "telegramApi": {
          "id": "0pPxcLhD8qdqCKlG",
          "name": "Telegram account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "editMessageText",
        "chatId": "2075065850",
        "messageId": "={{$node[\"Filter & Prepare All Articles\"].json.messageId}}",
        "text": "✅ پردازش کامل شد. خلاصه اخبار جدید برای شما ارسال گردید.",
        "additionalFields": {}
      },
      "name": "Update Final Status (Success)",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        -1216,
        -352
      ],
      "id": "b67d04ac-940b-48df-a65b-17b1095291b3",
      "webhookId": "137e69ab-b2b0-4b85-b32d-389ec022d6b1",
      "credentials": {
        "telegramApi": {
          "id": "0pPxcLhD8qdqCKlG",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Daily Trigger": {
      "main": [
        [
          {
            "node": "Get API Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get API Token": {
      "main": [
        [
          {
            "node": "Send Initial Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Initial Status": {
      "main": [
        [
          {
            "node": "Prepare Sources & Add IDs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Sources & Add IDs": {
      "main": [
        [
          {
            "node": "Split Sources",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Sources": {
      "main": [
        [
          {
            "node": "RSS Feed Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Feed Read": {
      "main": [
        [
          {
            "node": "Tag Success/Fail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tag Success/Fail": {
      "main": [
        [
          {
            "node": "Status Per Source",
            "type": "main",
            "index": 0
          },
          {
            "node": "Wait for Loop to Finish",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Status Per Source": {
      "main": [
        [
          {
            "node": "If Has MsgID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Has MsgID": {
      "main": [
        [
          {
            "node": "Update Status",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Split Sources",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for Loop to Finish": {
      "main": [
        [
          {
            "node": "Filter & Prepare All Articles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter & Prepare All Articles": {
      "main": [
        [
          {
            "node": "If Articles Exist",
            "type": "main",
            "index": 0
          },
          {
            "node": "Check for Prep Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check for Prep Error": {
      "main": [
        [
          {
            "node": "Send Error to Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Articles Exist": {
      "main": [
        [
          {
            "node": "Get Recent Posts",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Final Status (No Articles)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Recent Posts": {
      "main": [
        [
          {
            "node": "Analyze SEO Performance",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze SEO Performance": {
      "main": [
        [
          {
            "node": "AI Memory Builder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Memory Builder": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Parse AI JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse AI JSON": {
      "main": [
        [
          {
            "node": "Clean URLs & Enhance Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean URLs & Enhance Content": {
      "main": [
        [
          {
            "node": "Send Summary",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Categories",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Tags",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Series",
            "type": "main",
            "index": 0
          },
          {
            "node": "Pick Chosen Article",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pick Chosen Article": {
      "main": [
        [
          {
            "node": "Fetch Original Article HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Original Article HTML": {
      "main": [
        [
          {
            "node": "Extract Image URLs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Categories": {
      "main": [
        [
          {
            "node": "Select Category",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select Category": {
      "main": [
        [
          {
            "node": "If Create Category",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Create Category": {
      "main": [
        [
          {
            "node": "Create Category",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Use Existing Category",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Category": {
      "main": [
        [
          {
            "node": "Use Created Category",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Use Created Category": {
      "main": [
        [
          {
            "node": "Final Category",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Use Existing Category": {
      "main": [
        [
          {
            "node": "Final Category",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Final Category": {
      "main": [
        [
          {
            "node": "Build Blog Post Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Tags": {
      "main": [
        [
          {
            "node": "Build Tag IDs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Tag IDs": {
      "main": [
        [
          {
            "node": "If Create Tag",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Create Tag": {
      "main": [
        [
          {
            "node": "Create Tag",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Use Existing Tag",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Tag": {
      "main": [
        [
          {
            "node": "Use Created Tag",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Use Created Tag": {
      "main": [
        [
          {
            "node": "Final Tags",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Use Existing Tag": {
      "main": [
        [
          {
            "node": "Final Tags",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Final Tags": {
      "main": [
        [
          {
            "node": "Collect Tag IDs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Series": {
      "main": [
        [
          {
            "node": "Select Series",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select Series": {
      "main": [
        [
          {
            "node": "If Create Series",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Create Series": {
      "main": [
        [
          {
            "node": "Create Series",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Use Existing Series",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Series": {
      "main": [
        [
          {
            "node": "Use Created Series",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Use Created Series": {
      "main": [
        [
          {
            "node": "Final Series",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Use Existing Series": {
      "main": [
        [
          {
            "node": "Final Series",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Build Blog Post Payload": {
      "main": [
        [
          {
            "node": "Create Blog Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Summary": {
      "main": [
        [
          {
            "node": "Update Final Status (Success)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "5475c985-76a6-4021-b05e-20ba7ce78a5b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "da8708924ec3c6ead20a24a1ef9241a21b82f968691cc79b00ffb8a180edc98b"
  },
  "id": "IOtSNu11iKwZx5m4",
  "tags": []
}
